body{
    background-color: #121212;
    
}
.img{
    height: 6vh;
}

.brand_name{
    font-size: 4.5vh;
    padding-left: 1vw;
    font-family: 'Protest Strike', sans-serif;
}


.button{
    color:  #89aaae;
    font-weight: 500;
    font-size: 2.5vh;
    margin: 0px 1vw;
    align-items: center;
    background-color: transparent;
    border: none;
    
}
.btn{
    display: none;
}
.navbar{
    background-color: #18181c;
    padding: 0px 5vw;
    
}

.navbar-toggler:focus{
    box-shadow: none;
}
#toggler-img{
    height: 4vh;
    width: 4vh;
    border: none;
}
.content{
    margin: auto;
    display: grid;
    grid-template-columns: [carousel-left-space]0.5fr [carousel-content-start] 4fr [carousel-button-start] 1fr [carousel-right-space] 0.5fr;
    grid-template-rows: [first-content] 35vw [second-content] 35vw;
}
.content-part1{
    margin: 20px 0px 20px 20px;
    grid-column: carousel-content-start/carousel-button-start;
}
.carousel-item img{
    height: 100%; 
    width:100%; 
    max-height:642px; 
    border-radius:15px;
    display: block;
}

.content-part2{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 17vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3vh;
    
}

.content-part2 button{
    display: grid;
    border-radius: 10px;
    margin: 0vw 1vw;
    background-color: transparent;
}

@media (max-width:576px){
    
    .content-part1{
        grid-column: carousel-content-start/carousel-right-space;
    }
}
@media (max-width:767px){
    .content-part2{
        display: none;
    }
    .content{
        grid-template-columns: [carousel-left-space]0.5fr [carousel-content-start] 4fr [carousel-right-space] 0.5fr;
        grid-template-rows: [first-content] 150vw [second-content] 45vw ;
    }
    .content-part1{
        margin-top: 10vh;
        padding-top: 10%;
        grid-column: carousel-content-start/carousel-right-space;
    }
}

@media (max-width:992px){
    #navbarCollapseId{
        z-index: 1;
        width: 100%;
        margin: 0px -2vw;
        border-radius: 5px;
        background-color: #18181c;
        padding: 0px 10vw;
    }
    .button{
        
        outline: none;
        /* background-color: red; */
        background-color: #333333;
        color: white;
        font-weight: 400;
        font-size: small; 
        width: 100%;
        margin: 5vw 15vw 0px 0px;
        padding: 10px;
        border-radius: 10px;
        text-align: left;
    }
    .btn{
        display: block;
        margin: auto;
        margin-top: 50vh;
        width: 50vw;
    }
}
@media (max-width:1023px){
    .content{
        display: grid;
        grid-template-columns:[carousel-content-start]83fr [carousel-button-start]17fr ;
        grid-template-rows: [first-content] 45vw [second-content] 45vw ;
    }
    .content-part1{
        height: auto;
    }
    .content-part2{
        height: auto;
    }
}
